<style>
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .manga-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }

  .manga-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .manga-card:hover {
    transform: translateY(-5px);
  }

  .manga-cover {
    width: 180px;
    height: 270px;
    margin-bottom: 1rem;
  }

  .manga-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .manga-author {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .manga-description {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .manga-links {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .manga-links a {
    color: #fff;
    text-decoration: none;
    background-color: #A8EACE;
    border: 1px solid #A8EACE;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }

  .manga-links a:hover {
    text-decoration: none;
    background-color: #0056b3;
    border-color: #0056b3;
  }

    /* Add styles for the buttons */
  .btn {
    color: #fff;
    text-decoration: none;
    background-color: #A8EACE;
    border: 1px solid #A8EACE;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    text-decoration: none;
    background-color: #0056b3;
    border-color: #0056b3;
  }

  /* Space between the header buttons */
  .page-header a:not(:last-child) {
    margin-right: 1rem;
  }

</style>

<div class="page-header">
  <h1>Recently Added</h1>
  <%= link_to 'New Manga', new_manga_path, class: 'btn' %> <!-- Add the 'btn' class -->
  <%= link_to 'Go to Dashboard', dashboard_index_path, class: 'btn' %> <!-- Add the 'btn' class -->
</div>

<div class="manga-container">
  <% @mangas.each do |manga| %>
    <div class="manga-card">
      <% if manga.cover_image.attached? %>
        <%= cl_image_tag manga.cover_image.key, width: 180, height: 270, crop: :fill, alt: manga.manga_title, class: "manga-cover" %>
      <% else %>
        <div class="manga-cover">No cover image</div>
      <% end %>
      <p class="manga-title"><%= link_to manga.manga_title, manga %></p>
      <p class="manga-author"><%= manga.author %></p>
      <p class="manga-description"><%= manga.description.truncate(50) %></p>
     <div class="manga-links">
        <%= link_to 'Show', manga %>
        <%= link_to 'Edit', edit_manga_path(manga) %>
        <%= link_to 'Destroy', manga_path(manga), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
