<%# manga genre ->css:_navabr %>
<div>
  <ul class="manga-genre-navbar d-flex justify-content-around align-items-center">
    <li><%= link_to "Adventure", mangas_path(tag: "Adventure") %></li>
    <li><%= link_to "Fantasy", mangas_path(tag: "Fantasy") %></li>
    <li><%= link_to "Sci-Fi", mangas_path(tag: "Sci-Fi") %></li>
    <li><%= link_to "Romance", mangas_path(tag: "Romance") %></li>
    <li><%= link_to "Supernatural", mangas_path(tag: "Supernatural") %></li>
    <li><%= link_to "Historical", mangas_path(tag: "Historical") %></li>
    <li><%= link_to "SuperHero", mangas_path(tag: "SuperHero") %></li>
    <li><%= link_to "BL", mangas_path(tag: "BL") %></li>
    <li><%= link_to "GL", mangas_path(tag: "GL") %></li>
  </ul>
</div>

<div class="m-4">
  <h1>Top & Popular Manga</h1>

  <%# top mangas %>
  <div class="manga-cards">
    <% @mangas.each do |manga| %>
      <div class="d-flex flex-column justify-content-center border border-primary">
        <div class="manga-card border border-primary", onclick="location.href='<%= manga_path(manga) %>'">
            <% if manga.cover_image.attached? %>
              <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
            <% else %>
              <p>No cover image</p>
            <% end %>
        </div>
        <p class="border border-primary"><%= manga.manga_title %></p>
      </div>
    <% end %>
  </div>
</div>
