<div class="page-header">
  <h1>Recently Added</h1>
  <%# <%= link_to 'New Manga', new_manga_path, class: 'btn' %> <!-- Add the 'btn' class -->
  <%# <%= link_to 'Go to Dashboard', dashboard_index_path, class: 'btn' %> <!-- Add the 'btn' class -->
</div>

<div class="manga-container">
  <% @mangas.each do |manga| %>
    <div class="manga-card">
      <% if manga.cover_image.attached? %>
        <%= cl_image_tag manga.cover_image.key, width: 180, height: 270, crop: :fill, alt: manga.manga_title, class: "manga-cover", :quality => "auto", :fetch_format => "auto" %>
      <% else %>
        <div class="manga-cover">No cover image</div>
      <% end %>
      <p class="manga-title"><%= link_to manga.manga_title, manga %></p>
      <p class="manga-author"><%= manga.author %></p>
      <p class="manga-description"><%= manga.description.truncate(50) %></p>
     <div class="manga-links">
        <%= link_to 'Show', manga %>
      </div>
    </div>
  <% end %>
</div>
