<div class="container border border-primary">
<%# class="border border-primary" %>
  <%# manga cover image %>
  <div class="d-flex border border-primary mx-4">
    <div class="manga-cover-image  border border-success">
      <% if @manga.cover_image.attached? %>
        <%= cl_image_tag @manga.cover_image.key, width: 300, height: 450, crop: :fill, alt: @manga.manga_title, :quality => "auto", :fetch_format => "auto" %>
      <% else %>
        <p>No cover image</p>
      <% end %>
    </div>

    <div class="border border-primary ps-3">
      <%# manga info %>
      <h1><strong>Title:</strong><%= @manga.manga_title %></h1>
      <h3><strong>Author:</strong><%= @manga.user.username %></h3>  <%# TODO: able to link the author name to the user dashboard %>
      <%# <%= link_to "#{@manga.user.username}", dashboard_index_path(@manga.user) </h3>%>
      <h1>Description:<%= @manga.description %></h1>

      <%# tag %>
      <div class="d-flex border border-primary gap-1">
        <% @manga.tag_list.each do |tag| %>
          <div class="border border-primary badge rounded-pill">
            <%= link_to tag, mangas_path(tag: tag) %>
          </div>
        <% end %>
      </div>

      <%# bookmark %>
      <% if current_user.favorited?(@manga) %>
        <%= button_to 'Bookmarked!!', unfavorite_manga_path(@manga), method: :post, class: "btn btn-danger" %>
      <% else %>
        <%= button_to 'Bookmark?', favorite_manga_path(@manga), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <%# render chapters from chapter controller %>
  <%= render partial: 'chapters/chapters_list', locals: { chapters: @manga.chapters, manga: @manga } %>


  <%# Manga Review %>
  <h2>Manga Reviews</h2>
   <%# add a new manga review %>
    <div>
      <%= form_with model: [ @manga, @manga.manga_reviews.build ], local: true, html: { class: "add-review-form" } do |form| %>
        <%# user avatar %>
        <div>
          <% if current_user.avatar.present? %>
            <i class="avatar-user border border-primary fa-solid fa-user"></i>
          <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/mchancfy", class: "avatar-user border border-primary" %>
            <%# cloudinary upload %>
            <%# <%= cl_image_tag current_user.avatar.key, height: 300, width: 400, crop: :fill %> <%# TODO: make avatar work%>
          <% end %>
        </div>
        <%# content %>
        <div class="form-group">
          <%= form.label :content, class: "form-label" %>
          <%= form.text_area :content, required: true, class: "form-control", placeholder:"leave a comment!" %>
        </div>
        <%# rating %>
        <div class="form-group">
          <%= form.label :rating, class: "form-label" %>
          <%= form.select :rating, (1..5).to_a, required: true, class: "form-control", input_html: {data: {controller: "star-rating"}} %>
        </div>
        <%# submit button %>
        <div class="form-group">
          <%= form.submit "Submit Review", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="d-flex border flex-column border-primary">
    <%# each manga review %>
    <% if @manga.manga_reviews.present? %>
      <% @manga.manga_reviews.each do |manga_review| %>
        <div class="border border-primary">
          <p class="border border-primary"><%#<%= manga_review.user.username: TODO: not sure why its not working TUT%>
          <i class="border border-primary fa-regular fa-star"></i></p>
          <p class="border border-primary"><%= manga_review.content %></p>
          <%# <p class="border border-primary">Rating: <%= manga_review.rating </p> %>

          <div class="d-flex border border-primary">
            <i class="border border-primary fa-regular fa-thumbs-up"></i>
            <p class="border border-primary">Reply</p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>leave a comment!</p>
    <% end %>

  </div>


  <%= link_to 'New Chapter', new_manga_chapter_path(@manga), class: 'btn btn-primary' %>
  <%= link_to 'Back', mangas_path, class: 'btn btn-primary' %>

</div>
