<div class="container">
  <%# manga cover image %>
  <div class="d-flex mx-4">
    <div class="manga-cover-image">
      <% if @manga.cover_image.attached? %>
        <%= cl_image_tag @manga.cover_image.key, width: 300, height: 380, crop: :fill, alt: @manga.manga_title, :quality => "auto", :fetch_format => "auto" %>
      <% else %>
        <p>No cover image</p>
      <% end %>
    </div>

    <div class="ps-3">
      <%# manga info %>
      <h1><strong>Title:</strong><%= @manga.manga_title %></h1>
      <h1><strong>Author:</strong><%= @manga.user.username %></h1>  <%# TODO: able to link the author name to the user dashboard %>
      <%# <%= link_to "#{@manga.user.username}", dashboard_index_path(@manga.user) </h3> %>
      <h1>Description:<%= @manga.description %></h1>


      <%# tag %>
      <div class="d-flex flex-row gap-1 py-2">
        <% @manga.tag_list.each do |tag| %>
          <div class="badge rounded-pill">
            <%= link_to tag, mangas_path(tag: tag) %>
          </div>
        <% end %>
      </div>

      <%# bookmark button or if manga creater then its an edit button %>
      <div class="align-items-end">
        <% if current_user == @manga.user %>
          <%= link_to 'Edit', manga_chapters_path(@manga), class: "button" %>
        <% else %>
          <% if current_user.favorited?(@manga) %>
            <%= button_to unfavorite_manga_path(@manga), method: :post, class: "bookmark-button" do %>
              Bookmarked! <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= button_to favorite_manga_path(@manga), method: :post, class: "button" do %>
              <i class="fa-regular fa-heart"></i> Bookmark?
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <%# render chapters from chapter controller %>
  <%= render partial: 'chapters/chapters_list', locals: { chapters: @manga.chapters, manga: @manga } %>


  <%# Manga Review %>
  <h2>Manga Reviews</h2>
   <%# add a new manga review %>
    <div>
      <%= form_with model: [ @manga, @manga.manga_reviews.build ], local: true, html: { class: "add-review-form" } do |form| %>
        <%# content %>
        <div class="form-group">
          <%= form.label :content, class: "form-label" %>
          <%= form.text_area :content, required: true, class: "form-control", placeholder:"leave a comment!" %>
        </div>
        <%# rating %>
        <div class="form-group">
          <%= form.label :rating, class: "form-label" %>
          <%= form.select :rating, (1..5).to_a.reverse, required: true, class: "form-control", input_html: {data: {controller: "star-rating"}} %>
        </div>
        <%# submit button %>
        <div class="form-group">
          <%= form.submit "Submit Review", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>


    <!-- Display chapter reviews -->
    <div class="reviews-container">
    <%# each manga review %>
    <h2>Reviews</h2>
      <% if @manga.manga_reviews.any? %>
        <ul class="review-ul">
          <% @manga.manga_reviews.order(created_at: :desc).each do |manga_review| %>
            <li class="review-il">
              <%= image_tag url_for(manga_review.user.avatar), class: "avatar-small", alt: "#{manga_review.user.username}'s avatar" if manga_review.user.avatar.attached? %>
              <span style="font-size: 1.2em; font-weight: bold;"><%= manga_review.user.username %></span> <br>
              <%= manga_review.content %> <br>
              <% (1..manga_review.rating).each do %>★<% end %><% (manga_review.rating+1..5).each do %>☆<% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No reviews yet. Be the first to add a review!</p>
      <% end %>
    </div>
  </div>
</div>
