<style>
  body {
    font-family: Arial, sans-serif;
  }

  .manga-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .manga-cover img {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .manga-info {
    max-width: 350px;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .manga-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .manga-author {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .manga-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .manga-user {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .chapters-section {
    text-align: center;
    margin-top: 2rem;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .chapters-list {
    margin-bottom: 1rem;
  }

  .button {
    display: inline-block;
    background-color: #f60;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: 0 0.5rem;
  }

  .button:hover {
    background-color: #f90;
  }
</style>

<div class="manga-details">
  <div class="manga-cover">
    <% if @manga.cover_image.attached? %>
      <%= cl_image_tag @manga.cover_image.key, width: 300, height: 450, crop: :fill, alt: @manga.manga_title %>
    <% else %>
      <p>No cover image</p>
    <% end %>
  </div>

  <div class="manga-info">
    <p class="manga-title"><strong>Title:</strong> <%= @manga.manga_title %></p>
    <p class="manga-author"><strong>Author:</strong> <%= @manga.author %></p>
    <p class="manga-description"><strong>Description:</strong> <%= @manga.description %></p>
    <p class="manga-user"><strong>User:</strong> <%= @manga.user.email %></p>
  </div>
</div>

<div class="chapters-section">
  <h2>Chapters</h2>
  <div class="chapters-list">
    <%= render partial: 'chapters/chapters_list', locals: { chapters: @manga.chapters, manga: @manga } %>
  </div>

  <%= link_to 'New Chapter', new_manga_chapter_path(@manga), class: 'button' %>
  <%= link_to 'Edit', edit_manga_path(@manga), class: 'button' %>
  <%= link_to 'Back', mangas_path, class: 'button' %>
</div>
