<div class="container my-2">
  <%# user avatar name and social media %>
  <div class="d-flex align-items-center">

    <%# user avatar  %>
    <div>
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, crop: :fill, class: "avatar-user" %>
      <% else %>
        <i class="avatar-user fa-solid fa-user"></i>
      <% end %>
    </div>

    <%# user social media/contact %>
    <div class="ps-3">
      <h1><%= current_user.username %></h1>

      <i class="fa-solid fa-envelope"></i>

      <% if current_user.twitter.present? %>
        <a href="<%= current_user.twitter %>">
          <i class="fa-brands fa-twitter"></i>
        </a>
      <% end %>

      <% if current_user.instagram.present? %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </div>
  </div>

  <br>

  <%# user bio %>
  <div>
    <h5>Bio: <%= current_user.bio %></h5>
  </div>

  <br>

  <%# User Manga box %>
  <div>

    <%# My Manga title + manga_new_path %>
    <div class="d-flex justify-content-between align-items-end">
      <h3>My Manga</h3>
      <h4>Upload manga
        <%= link_to new_manga_path do %>
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        <% end %>
      </h4>
    </div>
    <hr>

    <%# display all user mangas %>
    <% if !@mangas.nil? %>
      <div class="manga-dashboard-cards">
        <% @mangas.each do |manga| %>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%# cover image %>
            <div class="manga-card", onclick="location.href='<%= manga_path(manga) %>'">
              <% if manga.cover_image.attached? %>
                <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
              <% else %>
                <h3><%= manga.manga_title %></h3>
              <% end %>
              <div class="manga-title-container">
                <p class="manga-title"><%= manga.manga_title %></p>
              </div>
            </div>
            <%# edit/delete %>
            <div class="pt-3 ">
              <div class="d-flex justify-content-center gap-2">
                <p><%= link_to 'Edit', edit_manga_path(manga), class:"button" %></p>
                <p><%= link_to 'Delete', manga_path(manga), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button" %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>We can't wait to see your manga!</p>
    <% end %>

    <br>

    <%# bookmark title%>
    <div class="d-flex justify-content-between align-items-end">
      <h3>Bookmarked  <i class="fa-solid fa-heart" style="color: #f39bd3;"></i></h3>
    </div>
    <hr>

    <%# all user bookmark %>
    <% if @favorited_mangas.present? %>
      <div class="manga-dashboard-cards">
        <% @favorited_mangas.each do |manga| %>
          <div class="manga-card", onclick="location.href='<%= manga_path(manga) %>'">
            <% if manga.cover_image.attached? %>
              <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
            <% else %>
              <p><%= manga.manga_title %></p>
            <% end %>
            <div class="manga-title-container">
              <p class="manga-title"><%= manga.manga_title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Start watching manga and bookmark them!</p>
    <% end %>

    <%# TODO:MARY - add top manga of the week etc %>
    <%# <%= link_to "Hot Manga of this week", top_mangas_path %>
  </div>
</div>

<style>
.container {
 background: rgba(0, 0, 0, 0.6);
 border-radius: 10px;
 padding: 12px;
}

i {
  font-size: 1.2em;
}

.manga-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  padding-bottom: 20px;
}

.manga-card {
  position: relative;
  background: rgba(255, 255, 224, 0.7);
  border-radius: 10px;
  overflow: hidden;
}

.manga-card img {
  width: 100%;
  height: auto;
}

.manga-title {
  margin: 0;
  color: #000;
  font-weight: bold;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s ease;
}

.manga-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.manga-card:hover .manga-title {
  transform: translateY(0);
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.button {
  color: #fff;
  background: rgba(168,234,206);
  border-radius: 5px;
  text-decoration: none;
}

</style>
