<div class="container">
  <br>
  <%# user avatar name and social media %>
  <div class="border border-primary d-flex align-items-center">

    <%# user avatar  %>
    <div>
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, crop: :fill, class: "avatar-user border border-primary" %>
      <% else %>
        <i class="avatar-user border border-primary fa-solid fa-user"></i>
      <% end %>
    </div>

    <%# user social media/contact %>
    <div class="border border-primary">
      <h1><%= current_user.username %></h1>

      <i class="fa-solid fa-envelope"></i>

      <% if current_user.twitter.present? %>
        <i class="fa-brands fa-twitter"></i>
      <% end %>

      <% if current_user.instagram.present? %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </div>
  </div>

  <%# user bio %>
  <div class="border border-primary">
    <p>Bio: <%= current_user.bio %></p>
  </div>

  <br>

  <%# User Manga box %>
  <div>

    <%# My Manga title + manga_new_path %>
    <div class="border border-primary d-flex justify-content-between align-items-end">
      <h3>My Manga</h3>
      <h4>Upload manga :D
        <%= link_to new_manga_path do %>
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        <% end %>
      </h4>
    </div>
    <hr>

    <%# display all user mangas %>
    <% if !@mangas.nil? %>
      <div class="manga-cards border border-primary">
        <% @mangas.each do |manga| %>
          <div class="d-flex flex-column justify-content-center border border-danger">
            <%# cover image %>
            <div class="manga-card border border-primary", onclick="location.href='<%= manga_path(manga) %>'">
              <% if manga.cover_image.attached? %>
                <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
              <% else %>
                <p><%= manga.manga_title %></p>
              <% end %>
            </div>
            <%# edit/delete %>
            <div class="border border-primary">
              <p class="d-flex justify-content-center"><%= manga.manga_title %></p>
              <div class="d-flex justify-content-center gap-2 border border-primary">
              <p><%= link_to 'Edit', edit_manga_path(manga), class:"button" %></p>
              <p><%= link_to 'Delete', manga_path(manga), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button" %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>We can't wait to see your manga!</p>
    <% end %>

    <br>

    <%# bookmark title%>
    <div class="border border-primary d-flex justify-content-between align-items-end">
      <h3>Bookmarked<i class="fa-solid fa-heart" style="color: #f39bd3;"></i></h3>
      <h4>See all -></h4>
    </div>
    <hr>

    <%# all user bookmark %>
    <% if @favorited_mangas.present? %>
      <div class="manga-cards border border-primary">
        <% @favorited_mangas.each do |manga| %>
          <div class="manga-card border border-primary", onclick="location.href='<%= manga_path(manga) %>'">
            <% if manga.cover_image.attached? %>
              <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
            <% else %>
              <p><%= manga.manga_title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="border border-primary">Start watching manga and bookmark them!</p>
    <% end %>

    <%# TODO:MARY - add top manga of the week etc %>
    <%# <%= link_to "Hot Manga of this week", top_mangas_path %>
  </div>
</div>
