<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<style>
body {
  font-family: Arial, sans-serif;
  background-color: #FFFFD2;
}

h2 {
  color: #FFFFD2;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.simple_form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.form-inputs {
  margin-bottom: 1rem;
}

.form-inputs input[type="email"],
.form-inputs input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: #000000;
}

.form-inputs input[type="checkbox"] {
  margin-bottom: 1rem;
}

.form-inputs label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-weight: bold;
}

.form-actions {
  text-align: center;
}

.form-actions button {
  background-color: #f47521;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.form-actions button:hover {
  background-color: #d8641d;
}

</style>
