<%# new/edit chapter form %>
<div class="chapter-form-container">
  <%= form_with(model: [@manga, @chapter], local: true) do |form| %>
    <% if @chapter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

        <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :chapter_number, "Chapter Number" %>
      <%= form.number_field :chapter_number, min: "0" %>
    </div>

    <div class="field">
      <%= form.label :chapter_title, "Chapter Title" %>
      <%= form.text_field :chapter_title %>
    </div>

    <%= form.label :chapter_photos, "Chapter Photos" %>
    <div class="drop-container field">
      <span class="drop-title">Drop files here</span>
      or
      <%= form.file_field :chapter_photos, multiple: true, required: true, accept: "image/*", id:"image" %>
    </div>

    <div class="py-2">
      <%= form.submit "Save", style: "background-color: rgba(168,234,206, 0.9); color: #FFFFD2;" %>
    </div>

  <% end %>
</div>
