<div class="form-container">
  <%= link_to @manga, class: 'back-button' do %>
    <i class="fa-solid fa-arrow-left-long fa-beat fa-2xl" style="color: #fefed6;"></i>
  <% end %>
<br>
<h1>Chapters</h1>
  <%= link_to new_manga_chapter_path(@manga), class: 'button' do %>
    <i class="fa-solid fa-plus fa-lg" style="margin-right: 5px;"></i>
    New Chapter
  <% end %>

<table>
  <thead>
    <tr>
      <th>Chapter Number</th>
      <th>Chapter Title</th>
      <th> <%= @manga.chapters.count %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="py-2">
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.chapter_number %></td>
        <td><%= link_to chapter.chapter_title, [@manga, chapter] %></td>
        <td>
          <%= link_to [@manga, chapter] do %>
            <i class="fa-solid fa-eye fa-xl" style="display: block;"></i>
          <% end %>
        </td>
        <td>
            <%= link_to(edit_manga_chapter_path(@manga, chapter)) do %>
              <i class="fa-solid fa-pen-to-square fa-xl"></i>
            <% end %>
        </td>
        <td>
        <%= link_to manga_chapter_path(@manga, chapter), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa-solid fa-trash-alt fa-lg" style="color: #fefed6;"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
