<div class="chapter-container">
  <div class="chapter-header">
    <h2>Chapter <%= @chapter.chapter_number %>: <%= @chapter.chapter_title %></h2>
  </div>

  <% if @chapter.chapter_photos.attached? %>
    <div class="chapter-photos">
      <% @chapter.chapter_photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 500, height: 500, crop: :fill, alt: "Chapter Photo", class: "chapter-photo", :quality => "auto", :fetch_format => "auto" %>
      <% end %>
    </div>
  <% end %>

  <div class="chapter-actions">
    <%= link_to 'Edit', edit_manga_chapter_path(@manga, @chapter), class: 'button' %> |
    <%= link_to 'Back', manga_chapters_path(@manga), class: 'button' %>
  </div>
</div>

<!-- Add a new chapter review -->
<div class="form-container">
  <h2>Add a chapter review</h2>
  <%= form_with url: manga_chapter_chapter_reviews_path(@chapter.manga, @chapter), local: true do |form| %>
    <div>
      <%= form.label :content %>
      <%= form.text_area "chapter_review[content]", required: true %>
    </div>
    <div>
      <%= form.label :rating %>
      <%= form.select "chapter_review[rating]", (1..5).to_a, required: true %>
    </div>
    <div>
      <%= form.submit "Add Review" %>
    </div>
  <% end %>
</div>

<!-- Display chapter reviews -->
<div class="reviews-container">
  <h2>Chapter Reviews</h2>
  <% if @chapter.chapter_reviews.any? %>
    <ul>
      <% @chapter.chapter_reviews.each do |review| %>
        <li>
          <span class="user-email">User:</span> <%= review.user.email %> <br>
          <strong>Content:</strong> <%= review.content %> <br>
          <strong>Rating:</strong> <%= review.rating %>/5
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews yet. Be the first to add a review!</p>
  <% end %>
</div>
