<div class="chapter-container">
   <div>
    <%= link_to @manga, class: 'back-button' do %>
      <i class="fa-solid fa-arrow-left-long fa-beat fa-2xl" style="color: #fefed6;"></i>
    <% end %>
    </div>

  <div class="chapter-header">
    <h2>Chapter <%= @chapter.chapter_number %>: <%= @chapter.chapter_title %></h2>
  </div>

  <% if @chapter.chapter_photos.attached? %>
    <div id="chapterCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @chapter.chapter_photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="chapter-image-container">
              <%= cl_image_tag photo.key, width: 1000, height: 1500, crop: :fill, alt: "Chapter Photo", class: "d-block w-100", :quality => "auto:best", :fetch_format => "auto" %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#chapterCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#chapterCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

<!--   <style>
  .chapter-image-container {
    border: 2px solid #ddd; /* Add your desired border style here */
    border-radius: 10px;
    padding: 10px; /* Add additional padding if needed */
  }
 </style> -->

</div>

  <!-- Add a new chapter review -->
  <div class="form-container">
    <h2>Add a chapter review</h2>
    <%= form_with url: manga_chapter_chapter_reviews_path(@chapter.manga, @chapter), local: true do |form| %>
      <div>
        <%= form.label :content %>
        <%= form.text_area "chapter_review[content]", required: true %>
      </div>

    <div>
      <%= form.label :rating %>
      <%= form.select "chapter_review[rating]", options_for_select((1..5).to_a.reverse.map { |number| [number, number] }), {}, class: 'star-rating' %>
        <script>
          $(document).ready(function() {
            $('#chapter_review_rating').barrating({
              theme: 'fontawesome-stars'
            });
          </script>
      </div>

      <div>
        <%= form.submit "Add Review" %>
      </div>
    <% end %>

  <!-- Display chapter reviews -->
  <div class="reviews-container">
    <h2>Chapter Reviews</h2>
    <% if @chapter.chapter_reviews.any? %>
      <ul class="review-ul">
        <% @chapter.chapter_reviews.order(created_at: :desc).each do |review| %>
          <li class="review-il">
            <%= image_tag url_for(review.user.avatar), class: "avatar-small", alt: "#{review.user.username}'s avatar" if review.user.avatar.attached? %>
            <span style="font-size: 1.2em; font-weight: bold;"><%= review.user.username %></span> <br>
            <%= review.content %> <br>
            <% (1..review.rating).each do %>★<% end %><% (review.rating+1..5).each do %>☆<% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews yet. Be the first to add a review!</p>
    <% end %>
  </div>
</div>
